@import '../../../sass/variables.sass'

.Toggle
  position: relative
  height: 100%
  width: 100%
  cursor: pointer
  transition: .3s

  &:hover, &:focus
    background: rgba($white, 0.1)

.Lines
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 60%
  height: 40%
  
.Line
  position: absolute
  display: block
  height: 2px
  background: $white
  width: 100%

  &:nth-child(0)
    top: 0
  
  &:nth-child(1)
    top: 50%
    transform: translateY(-50%)

  &:nth-child(2)
    bottom: 0