// Import variables and mixins
@import './variables';

// Execute normalizer
@include normalize;

// Add futher normalization (originally from foundation)
*,
*::before,
*::after {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Execute global foundation styles
@include foundation-global-styles;
@include foundation-typography;

// Adjust html and body height
html, 
body {
  height: 100%;
}

// Styles escaping css modules
:global {
  // Adjust root and react root height
  #root,
  #root > [data-reactroot] {
    height: 100%;
  }
}