@import '../../../sass/variables.sass'

.Sidebar
  &--Open
    .Backdrop
      opacity: 1
      visibility: visible
      transition-delay: .0s

    .Drawer
      +breakpoint(small down)
        left: 0
        box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, .1)

.Backdrop
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.5)
  visibility: hidden
  transition: opacity .3s linear .0s, visibility .0s linear .3s
  opacity: 0
  z-index: 10

  +breakpoint(medium)
    display: none

.Drawer
  position: fixed
  z-index: 11
  top: 0
  left: calc((100% - 4rem) * -1)
  height: 100%
  width: calc(100% - 4rem)
  overflow-y: auto
  background: $dark-gray
  transition: .3s

  +breakpoint(medium)
    top: $navigation-height
    left: 0
    height: calc(100% - #{$navigation-height})
    width: $sidebar-width-desktop
    
.Loader
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  font-size: 2.5rem