@import '../../../sass/variables.sass'

.Viewer
  position: relative
  left: 0
  height: calc(100% - #{$navigation-height})
  width: 100%
  transition: .3s
  background: darken($white, 5%)

  +breakpoint(medium)
    left: $sidebar-width-desktop
    width: calc(100% - #{$sidebar-width-desktop})
    padding: 1.5rem 1.5rem 0 1.5rem

.Loader
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  font-size: 2.5rem

.Content
  height: 100%
  width: 100%
  overflow-y: auto
  background: $white

  +breakpoint(medium)
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .25)

.Iframe
  border: 0
  height: 100%
  width: 100%

.Post
  padding: 1.5rem

  &__Title
    font-size: 1.5rem
    margin: 0 0 0.5rem 0

  &__Url
    margin: 0 0 1rem 0

  &__Text
    font-size: 1rem
    line-height: 2