@import '../../../sass/variables.sass'

.StoryItem
  position: relative
  padding: 1.5rem
  cursor: pointer
  transition: background .3s
  border-bottom: 1px solid rgba($white, 0.1)
  border-left: 0.25rem solid transparent
  transition: border-left .3s

  &:hover, &:focus
    background: rgba($white, 0.1)

  &--Active
    border-left-color: $primary-color


.Date
  font-size: 0.9rem
  color: darken($white, 30%)

.Title
  font-size: 1.25rem
  color: $white

.Info
  position: relative

.Points
  color: $primary-color

.Author
  color: $primary-color

.Url
  position: absolute
  top: 50%
  right: 0
  color: darken($white, 30%)
  transform: translateY(-50%)
  font-size: 0.9rem

  &:hover, &:focus
    color: darken($white, 20%)