@import '../../../sass/variables.sass'

// Css based loader (size controlled by inherited font-size)

.Loader
  display: block
  height: 1em
  width: 1em
  line-height: 1

.Loader,
.Loader:after
  border-radius: 50%
  width: 1em
  height: 1em

.Loader
  font-size: 1em
  position: relative
  text-indent: -9999em
  border-top: 0.1em solid rgba($white, 0.2)
  border-right: 0.1em solid rgba($white, 0.2)
  border-bottom: 0.1em solid rgba($white, 0.2)
  border-left: 0.1em solid rgba($white, 1)
  transform: translateZ(0)
  animation: LoaderAnimation 1.1s infinite linear

.Loader.Loader--Dark
  border-color: rgba($black, 0.2)
  border-left-color: rgba($black, 1)

@keyframes LoaderAnimation
  0%
    transform: rotate(0deg)
  
  100%
    transform: rotate(360deg)