@import '../../../sass/variables.sass'

.Navigation
  position: relative
  z-index: 10
  background: $primary-color
  height: $navigation-height
  width: 100%
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.05)

.Toggle
  position: absolute
  top: 0
  left: 0
  height: $navigation-height
  width: $navigation-height

  +breakpoint(medium)
    display: none

.Logo
  display: block
  position: absolute
  top: calc(50% + 0.125em)
  left: 50%
  transform: translate(-50%, -50%)
  font-size: 2rem